.Chat {
    /* border: 1px dotted white; */
    border-radius: 5px;

    width: 500px;
    height: 90%;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
    gap: 10px;

    margin-left: 30px;
}