.Chat {
    /* border: 1px dotted lightblue; */
    border-radius: 5px;

    width: 600px;
    height: 600px;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
    gap: 10px;
}